################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAnC-/FileContentIndex/26a34a4b-e5fb-49ee-9d91-6109140a8376.vsidx
/.vs/DoAnC-/FileContentIndex/493cc058-52d9-4b7b-8de0-12bcaf683b26.vsidx
/.vs/DoAnC-/FileContentIndex
