################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAnC-/FileContentIndex/a235da51-4384-4c88-83eb-9023deafa4e4.vsidx
/.vs/Doanqlchdt/FileContentIndex/05a28178-6ec3-4f76-9942-ecbfae15cb5f.vsidx
/.vs/Doanqlchdt/FileContentIndex/4766af52-e7d9-427f-9cb3-ee1d6355fed6.vsidx
/.vs/Doanqlchdt/FileContentIndex/4e09a841-8268-49ad-aa44-40fc7ac639b3.vsidx
/.vs/Doanqlchdt/FileContentIndex/c37c50ef-25db-496e-a263-0fde1f5df3eb.vsidx
/.vs/Doanqlchdt/FileContentIndex/f2e11784-8cc5-430e-ba3e-5da8a8c0657d.vsidx
/.vs/DoAnC-/FileContentIndex
/.vs/Doanqlchdt/FileContentIndex
